@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@900&display=swap');

.container-contact {
    height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
}

.video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

.container-contact video {
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    
}

.container-contact content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.page-title {
    font-family: 'DM Sans', sans-serif;
    font-weight: 900;
    font-size: 5vw;
    line-height: 0em;
    letter-spacing: -4%;
    color: #FFFFFF;
    top: 12%;
    left: 0;
    padding-left: 1em;
    position: absolute;
    margin: 0;
    z-index: 1;
}

.logo-contact {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



@media (max-width: 768px) {
    .logo-contact {
        height: 100px;
        width: auto;
    }
    .container-contact {
        overflow: hidden;
    }

    .container-contact video {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .contact-form {
        width: 90%; /* Largeur adaptative */
        max-width: 350px; /* Fixe une largeur maximale */
        padding: 15px;
    }
    
}
