.header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    top: 0;
    z-index: 1000;
    background-color: #6989F3;
}

.header-left .tab-name {
    font-family: 'DM Sans', sans-serif;
    font-weight: 900;
    font-size: 2vw;
    color: #FFF;
    text-decoration: none;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin-left: 2rem;
}

.nav-list li:first-child {
    margin-left: 0;
}

.header-right .nav {
    font-family: 'DM Sans', sans-serif;
    font-weight: 900;
    font-size: 2vw;
    color: #FFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

.header-right .nav:hover {
    color: #CAA1FF;
}

.hamburger {
    display: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .header {
        justify-content: space-between;
    }

    .hamburger {
        display: block;
        color: #FFF;
        cursor: pointer;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background: linear-gradient(to bottom, #6989F3 0%, #CAA1FF 100%);
        justify-content: center;
        align-items: center;
        z-index: 999;
    }

    .nav-list.open {
        display: flex;
    }

    .nav-list li {
        margin: 1rem 0;
    }

    .header-right .nav {
        font-size: 6vw;
    }
}