.header-contact {
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    top: 0;
    z-index: 1000;
    background-color: transparent;
}

.header-left-contact .tab-name-contact {
    font-family: 'DM Sans', sans-serif;
    font-weight: 900;
    font-size: 2vw;
    color: #FFF;
    text-decoration: none;
}

.header-right-contact {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header-right-contact li {
    margin-left: 3rem;
}

.header-right-contact li:first-child {
    margin-left: 0;
}

.nav-contact {
    font-family: 'DM Sans', sans-serif;
    font-weight: 900;
    font-size: 2vw;
    color: #FFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-contact:hover {
    color: rgba(255, 255, 255, 0.7);
}

.hamburger-contact {
    display: none;
    color: #FFF;
    cursor: pointer;
}

@keyframes fadeIn-contact {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .header-contact {
        padding-top: 1rem;
    }

    .header-left-contact .tab-name-contact {
        font-size: 4vw;
    }

    .header-right-contact {
        display: none;
    }

    .hamburger-contact {
        display: block;
        top: 1rem;
        right: 1rem;
        z-index: 1001;
        color: #FFF;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }

    .header-right-contact.open-contact {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(10px);
        z-index: 999;
        overflow: hidden;
        animation: fadeIn-contact 0.3s ease-in-out;
    }
}

@media (max-width: 768px) {
    .header-contact {
        padding-top: 0.5rem;
    }

    .header-left-contact .tab-name-contact {
        padding-top: 0.5rem;
        font-size: 10vw;
    }

    .header-right-contact {
        display: none;
    }

    .hamburger-contact {
        display: block;
        top: 1rem;
        right: 1rem;
        z-index: 1001;
        color: #FFF;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }

    .header-right-contact.open-contact {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(10px);
        z-index: 999;
        overflow: hidden;
        animation: fadeIn-contact 0.3s ease-in-out;
    }

    .nav-contact {
        font-size: 12vw;
        transition: color 0.3s ease, transform 0.2s ease;
        padding-top: 1.5rem;
        padding-right: 2.5rem;
    }
}