/* Base Styles (Desktop) */
.container-home {
  position: relative;
  min-height: 100vh;
  height: auto;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: linear-gradient(to bottom,
      #6989F3 0%,
      #6989F3 50%,
      #CAA1FF 100%);
}

.intro,
.outro {
  height: 100vh;
  width: 100vw;
}

.title-header,
.title-outro {
  font-family: 'DM Sans', sans-serif;
  font-weight: 900;
  letter-spacing: -6%;
  color: #FFF;
  text-align: center;
}

.title-header {
  font-size: 10vw;
  position: absolute;
  top: 5vh;
  left: 50%;
  transform: translate(-50%);
}

.title-outro {
  font-size: 7vw;
  top: 48vh;
  transform: translate(-50%, -50%);
  left: 50%;
  position: relative;

}

.content-intro,
.content-second {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 3vw;
  color: #FFF;
  text-align: left;
  letter-spacing: -6%;
  position: absolute;
  left: 8%;
  padding-right: 20px;
}

.content-intro {
  top: 75vh;
}

.content-second {
  top: 120vh;
}

.logo {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  top: 5vh;
  height: 200px;
  width: 200px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 0;
  position: relative;
  top: 30vh;
}

.link {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 5vw;
  letter-spacing: -6%;
  color: #FFF;
  text-decoration: none;
  transition: opacity 0.3s ease;
  padding: 1rem 5rem;
  white-space: nowrap;
}

.clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  animation: move 20s linear infinite;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  color: #FFF;
  font-size: 2vw;
  letter-spacing: -6%;
}

.logo-outro {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  top: 20vh;
}

/* Tablet Styles */
@media (max-width: 1024px) and (min-width: 769px) and (orientation: portrait) {
  .title-header {
    font-size: 10vw;
    top: 20vh;
    position: absolute;
  }

  .title-outro {
    top: 30vh;
    position: relative;
    font-size: 10vw;
  }

  .content-intro,
  .content-second {
    font-size: 5vw;
  }

  .content-intro {
    position: absolute;
    align-items: left;
    top: 60vh;
  }

  .link {
    font-size: 15vw;
  }

  .menu {
    flex-direction: column;
    align-items: left;
    top: 25vh;
    left: 50%;
    transform: translateX(-50%);
  }

  .footer {
    font-size: 4vw;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) and (orientation: landscape) {
  .title-header {
    font-size: 10vw;
    top: 5vh;
    position: relative;
  }

  .title-outro {
    top: 25vh;
    position: relative;
    font-size: 10vw;
  }

  .content-intro,
  .content-second {
    font-size: 4vw;
  }

  .content-intro {
    position: absolute;
    align-items: left;
    top: 70vh;
  }

  .link {
    font-size: 10vw;
  }

  .menu {
    flex-direction: column;
    align-items: left;
    top: 25vh;
    left: 50%;
    transform: translateX(-50%);
  }

  .footer {
    font-size: 3vw;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
  }
}

/* Mobile Styles */
@media (max-width: 768px) and (orientation: portrait) {
  .title-header {
    font-size: 10vw;
    top: 45vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .title-outro {
    font-size: 10vw;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 20vh;
  }

  .content-intro,
  .content-second {
    font-size: 5vw;
  }

  .content-intro {
    position: absolute;
    align-items: left;
    top: 60vh;
  }

  .link {
    font-size: 15vw;
  }

  .menu {
    flex-direction: column;
    align-items: left;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
  }

  .footer {
    font-size: 1em;
  }
}
@media (max-width: 768px) and (orientation: landscape) {
  .logo {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 5vh;
    height: 100px;
    width: 100px;
  }

  .title-header {
    font-size: 5vw;
    top: 45vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .title-outro {
    font-size: 7vw;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 38vh;
  }

  .content-intro,
  .content-second {
    font-size: 3vw;
  }

  .content-intro {
    position: relative;
    justify-content: center;
    top: 30vh;
  }

  .link {
    font-size: 5vw;
  }

  .menu {
    flex-direction: row;
    align-items: left;
    top: 30vh;
    left: 50%;
    transform: translateX(-50%);
  }

  .footer {
    font-size: 1em;
  }
}