.container {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #2C2C2C;
  overflow: hidden;
}

.logo {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: auto;
}