@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@900&display=swap');


.container-projects {
    position: relative;
    min-height: 100vh;
    height: auto;
    overflow: visible;
    background: linear-gradient(to bottom,
            #448EE4 0%,
            #448EE4 50%,
            #C9E9D2 100%);
}

.page-title {
    font-family: 'DM Sans', sans-serif;
    font-weight: 900;
    font-size: 5vw;
    line-height: 0em;
    letter-spacing: -4%;
    color: #FFFFFF;
    top: 10%;
    left: 0;
    padding-left: 1em;
    position: absolute;
    margin: 0;
    z-index: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .container-projects {
        background: linear-gradient(to bottom,
                #448EE4 0%,
                #448EE4 50%,
                #C9E9D2 100%);
    }

    
}