@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@900&display=swap');

@font-face {
  font-family: 'Sneaky-Times';
  src: url(./assets/fonts/Sneaky-Times.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  cursor: url(./assets/images/mouse.svg), 32 32, auto;
  margin: 0;
  font-family: 'Sneaky-Times', -apple-system, BlinkMacSystemFont, 'DM Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
